<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo final</title>
    <!-- FAVICON -->
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <!-- Css -->
     <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="cabecera" id="cabecera">
        <h1 class="titulo" id="h1-galeria">THE BEST GAINER </h1>
        <p class="txt-cabecera">¡Tu mejor versión empieza ahora!</p>
        <img class="img-cabecera" src="../assets/image/img-cabecera/strong-man-training-gym.jpg" alt="pesas" width="2000" height="866">
    </header>
    <nav class="barNav" id="barNav">
        <div class="titulo-img">
            <img class="logo" src="../assets/image/img-cabecera/logo-fuert2.png" alt="Logo" width="512" height="512">
            <h3 class="h3-barra">THE BEST GAINER</h3>
        </div>
        <ul>
            <li><a class="enlaces-barra" href="../index.html">Inicio</a></li>
            <li><a class="enlaces-barra" id="activo" href="#">Galería</a></li>
            <li><a class="enlaces-barra" href="./presupuesto.html">Presupuesto</a></li>
            <li><a class="enlaces-barra" href="./contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <main class="main-galeria" id="main-galeria">

        <h2 class="h2-galeria">Área productos</h2>
        <img class="logo-proteina" src="../assets/image/img-cabecera/iconos/proteina-en-polvo.png" alt="proteina-en-polvo" width="512" height="512">

        <section class="set-proteinas">
            <h2 class="h2-galeria">Área productos</h2>
        </section>

    </main>
    <footer class="footer" id="footer">
        <section class="set-footer">
            <div class="titulo-logo">
                <img class="logo-footer" src="../assets/image/img-cabecera/logo-fuert2.png" alt="Logo" width="512" height="512">

                <h3>THE BEST GAINER</h3>
            </div>
            

            <div class="redes-sociales">
                <h2 class="h2-redes">Redes Sociales</h2>
                <ul>
                    <li>
                        <a class="enlaces-footer" href=""><img class="iconos-redes" src="../assets/image/img-cabecera/redes-sociales/facebook.png" alt="facebook" width="512" height="512">Facebook</a>
                    </li>
                    <li>
                        <a class="enlaces-footer" href=""><img class="iconos-redes" src="../assets/image/img-cabecera/redes-sociales/linkedin.png" alt="linkedin" width="512" height="512">Linkedin</a>
                    </li>
                    <li>
                        <a class="enlaces-footer" href=""><img class="iconos-redes" src="../assets/image/img-cabecera/redes-sociales/instagram.png" alt="instagram" width="512" height="512">Instagram</a>
                    </li>
                    <li>
                        <a class="enlaces-footer" href=""><img class="iconos-redes" src="../assets/image/img-cabecera/redes-sociales/whatsapp.png" alt="whatsapp" width="512" height="512">WhatsApp</a>
                    </li>
                    <li>
                        <a class="enlaces-footer" href=""><img class="iconos-redes" src="../assets/image/img-cabecera/redes-sociales/x.png" alt="X" width="128" height="128">X</a>
                    </li>
                    
                </ul>
            </div>
            <section class="contact-footer">
                <h2>Ubicación y Dirección</h2>
                <p><a href="../views/contacto.html">📍 Dirección: Calle Gran Vía, 45, Madrid, España</a></p>
                <p>📞 Teléfono: +34 123 456 789</p>
                <p>📧 Email: contacto@empresa.com</p>
                <h3 class="copyright">Todos los derechos de autor estan reservados: Copyright &COPY;</h3>
            </section>
        </section>
    </footer>

    <!-- JS -->
    <script src="../javaScripts/galeria.js"></script>
    <script src="../javaScripts/main.js"></script>
</body>
</html>